*{margin: 0;padding: 0;}
body{ color: #333;font: 13px/21px Microsoft YaHei;}
ul{ list-style:none;}
a{ text-decoration:none;}
img{border:0 none;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clear{clear:both;}

.p-btn{ text-align: right; padding:15px; }
.p-btn-add{  padding-bottom:0; padding-right: 0;}
.p-btn .btn{ padding: 0 30px; background:#56c3ff; color:#fff; height:35px; line-height: 35px; border:none; border-radius:5px; display:inline-block; }
.p-btn .btn-del{ background: #ff7f18; margin-left: 20px;  cursor: pointer;}
.p-btn-add .btn-add{ border-radius:5px 5px 0 0;  cursor: pointer; }
.mamin-con{ padding:15px;}
.main-table{ width:100%; }
.main-table tr td .icon{ width:13px; margin:0 5px; }
.main-table tr td{  border-bottom:1px solid #ebebeb; height: 35px; line-height: 35px;}
.main-table tr .td-user{ cursor: pointer;}
.main-table tr .td1{ width:33%; padding-left: 10px; box-sizing: border-box; color:#56c3ff;}
.main-table tr .td2{ width:33%;}
.main-table tr .td3{ width:33%;}
.main-table tr th{ background: #f2f2f2; border-bottom:1px solid #ebebeb; height: 35px; line-height: 35px; color:#333;}
.main-table tr:hover{ background: #f4fafd;}
.main-table tr .td-top{ padding-left: 23px;}

/*弹框*/
.box{ width: 100%; position: fixed; top: 0; bottom: 0; background: rgba(0,0,0,.6); z-index: 9999; }
.box-con{ width: 614px; background: #fff; border-radius: 5px; position: fixed; bottom: 0; right: -614px; border:1px solid #ebebeb;}
.box-con-del{ width: 30%; margin: 10% auto; background: #fff; border-radius: 5px;  position: relative;}
.box-del,.box-del-add,.box-del-s{ position: absolute; top: 14px; right: 10px;; width:22px; z-index: 999999; cursor: pointer;}
.box-title{ background:#56c3ff; color:#fff; text-align: center; height:50px; line-height: 50px; font-size:14px;  border-radius: 5px 5px 0 0;  position: relative;}
.box-content{ padding: 0 20px;}
.map-btn{ margin:0 20px; text-align: center; border-top:1px solid #ebebeb; padding:20px 0;}
.map-born{ border-top:none; padding-top: 0;}
.map-btn .map-btn3{ padding: 0 30px; background: #ff7f18; color:#fff; font-size: 13px; text-align: center; border-radius: 5px; border:none; height:40px; line-height:40px;}
.map-btn .map-btn4{  padding: 0 30px;background: #56c3ff;; color:#fff; font-size: 13px; text-align: center; border-radius: 5px; border:none;  height:40px; line-height:40px; margin-left: 9%;}
.box-content .add-table{ width:100%;}
.box-content .add-table tr .add-td1{ width:80px; }
.box-content .add-table tr .add-td2{ width:auto;}
.box-content .add-table tr .add-td2 .add-text{ width:100%; box-sizing: border-box; border:1px solid #ddd; border-radius: 5px; height:30px; line-height: 30px;}
.box-content .add-table tr .add-td2 .add-textarea{ width:100%; box-sizing: border-box; border:1px solid #ddd; border-radius: 5px;line-height: 30px;}
.box-content .add-table tr .add-td3{padding-left: 5px;}
.box-content .add-table tr .add-td3 span{ color:#ff7f18;}
.box-content .user-table{ width:100%;}
.box-content .user-table tr th{ text-align: left; border-bottom:1px solid #ebebeb; border-top:1px solid #56c3ff; height: 35px; line-height: 35px; } 
.box-content .user-table tr td{ border-bottom:1px solid #ebebeb;  height: 35px; line-height: 35px;}
.sear .search{ height: 35px; line-height: 35px; width:70%; border-radius: 35px; border:1px solid #ddd; font-size:13px; padding: 0 10px; box-sizing: border-box; background: url(../images/sear.png) no-repeat 97% center; background-size: 6%; margin-top: 20px; margin-bottom: 10px;}
.sear .search:focus{ outline: none;}
.list-main{ width: 100%; margin-top: 6px; line-height: 22%; margin: 0 auto; float: left; padding-right:20px; box-sizing:border-box; }


