/*
UI控件
李露露
2014/8/28
*/
/*---------全局--------*/
* { margin:0; padding:0; }
body{ background:#f7f7f7; font-size:14px; font-family:Microsoft Yahei, SimSun; }
table{ border-collapse:collapse; }
a{ text-decoration:none; }
li{ list-style-type:none; }
input{ font-family:Microsoft Yahei, SimSun; }
input[type="button"]{ border:0; font-family:Microsoft Yahei, SimSun; cursor:pointer; }
input[type="checkbox"]{ padding-right:5px; vertical-align:middle; }
input[type="radio"]{vertical-align:middle; padding-right:5px; }
.content{ width:1000px; margin:20px 0; float:left; padding-left:50px; }
.subcon{ width:100%; margin-top:30px; }

/*---------右边内容--------*/
.main{ padding:20px 50px 0 50px;}
.main .m-nav{ width:100%; border-bottom:1px solid #ddddd9; line-height:30px; font-size:16px; }
.main .m-con{ width:100%; margin-top:40px; position:relative; }
.main .m-con p{ width:100%; font-size:14px; line-height:24px; padding-bottom:20px;}
.main .m-con p .img{ text-align:center; width:100%; padding-bottom:10px;}
.main .m-con .ptil{ font-weight:700; padding-bottom:0;}

/*---------导航--------*/
.nav{ width:100%; height:62px; background:#4da3de; line-height:62px; }
.nav li{ float:left; padding:0 35px; }
.nav li a{ color:#fff; }
.nav li a:hover{ color:#b1dfff; }

/*---------菜单--------*/
.submenu{ float:left; width:150px; height:auto; }
.arr{ width:100%; text-align:center; }
.submenucon{ width:100%; border:1px solid #51b9ff; }
.submenucon li{ width:100%; height:36px; line-height:36px; text-indent:15px; }
.submenucon li a{ display:block; height:36px; color:#fff; background:url(../images/menu_bg.jpg) repeat-x; }
.submenucon li a:hover{ background:url(../images/menu_bg2.jpg) repeat-x; }

/*---------按钮--------*/
.btncon{ float:left; width:750px; margin-left:38px; }
.btn{ width:91px; height:29px; margin-bottom:10px; font-size:12px; cursor:pointer; }
.btn:hover{ background:url(../images/btn_xg.png) no-repeat; color:#fff; }
.bg-ws1{ background:url(../images/btn_ws1.png) no-repeat; color:#9c9c9c; }
.bg-ws2{ background:url(../images/btn_ws2.png) no-repeat; color:#9c9c9c; }
.bg-ws3{ background:url(../images/btn_ws3.png) no-repeat; color:#9c9c9c; }
.bg-yel1{ background:url(../images/btn_yel1.png) no-repeat; color:#fff; }
.bg-yel2{ background:url(../images/btn_yel2.png) no-repeat; color:#fff; }
.bg-yel3{ background:url(../images/btn_yel3.png) no-repeat; color:#fff; }
.bg-gre1{ background:url(../images/btn_gre1.png) no-repeat; color:#fff; }
.bg-gre2{ background:url(../images/btn_gre1.png) no-repeat; color:#fff; }
.bg-gre3{ background:url(../images/btn_gre1.png) no-repeat; color:#fff; }
.bg-blue1{ background:url(../images/btn_blue1.png) no-repeat; color:#fff; }
.bg-blue2{ background:url(../images/btn_blue2.png) no-repeat; color:#fff; }
.bg-blue3{ background:url(../images/btn_blue3.png) no-repeat; color:#fff; }
.btn-round{ width:73px; height:73px; background:url(../images/btn_hollow.png) no-repeat; color:#4da3de; font-size:12px; }
.btn-round:hover{ background:url(../images/btn_solid.png) no-repeat; font-size:14px; color:#fff; }
.btn-solid{ width:73px; height:73px; background:url(../images/btn_solid.png) no-repeat; font-size:14px; color:#fff; margin-right:10px; }

/*---------进度条--------*/
.pgsbar{ width:430px; height:20px; background:#efefef; font-size:12px;line-height:20px; color:#fff; text-align:right; margin-bottom:20px; }
.grebar{ width:70%; height:20px; background:#6dcf47; }
.yelbar{ width:50%; height:20px; background:#f48843; }
.bluebar{ width:30%; height:20px; background:#4da3de; }
.login{ width:340px; }
.name-text{ width:100%; height:46px; border:1px solid #dcdcdc; background:url(../images/icon_name.png) no-repeat #fff; color:#abaaaa; line-height:46px; text-indent:50px; margin-bottom:25px; }
.name-psd{ width:100%; height:46px; border:1px solid #dcdcdc; background:url(../images/icon_psd.png) no-repeat #fff; color:#abaaaa; line-height:46px; text-indent:50px; margin-bottom:10px; }
.rmbpsd{ width:100%; color:#adaaaa; font-size:12px; margin-bottom:10px; }
.btn-login{ width:100%; height:46px; background:#31cd1c; font-size:16px; color:#fff; }
.btn-login:hover{ background:#6bc3ff; }

/*---------tab切换--------*/
.tab{ float:left; width:562px; height:auto; }
.tabnav{ width:100%; height:36px; border-bottom:1px solid #dcdcdc; line-height:36px;}
.tabnav li{ float:left; height:35px; border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; background:#f6f6f6; cursor:pointer; }
.tabnav .li{ padding:0 27px; color:#9c9c9c; }
.tabnav .li:hover{ background:#fff; border-top:3px solid #4da3de; height:34px; border-bottom:0; }
.tabnav .li-hover{ padding:0 27px; border-top:3px solid #4da3de; height:34px; border-bottom:0; background:#fff; color:#9c9c9c; }
.tabcon{ width:100%; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; background:#fff; font-size:12px; line-height:27px; }
.list{ width:95%; margin:0 auto; padding:15px 0 11px 0; color:#acaaaa; }
.list a{ color:#acaaaa; }
.list a:hover{ text-decoration:underline; }
.list .a-blue{ color:#4da3de; }
.list td.rig{ text-align:right; }
.list .more{ color:#f48843; }
.list .more:hover{ color:#6bc3ff; }
.status-gre{ color:#36bf00; }

/*---------下拉效果--------*/
.other{ float:right; width:410px; margin-top:36px; }
.select{ width:100%; }
.select td{ padding-bottom:10px;}
.drop{ width:190px; float:left; padding-left:15px; font-size:12px; }
.drop .dp-text{ width:100%; height:33px; border:1px solid #dadcdc; background:url(../images/sel_arr.jpg) 96% center no-repeat #fff; color:#abaaaa; text-indent:10px; line-height:33px; font-size:12px; }
.drop .dp-con{ width:100%; border-bottom:1px solid #dadcdc; border-left:1px solid #dadcdc; border-right:1px solid #dadcdc; background:#fff; }
.drop .dp-con li{ cursor:pointer; line-height:30px; text-indent:10px; }
.drop .dp-con li a{ color:#4da3de; }
.drop .dp-con li a:hover{ color:#f48843; }
.dp-sel{color:#4da3de; cursor:pointer; line-height:30px; text-indent:10px; height:40px;}
.othbtn{ float:left; padding-left:15px; height:32px; }
.othrad{ float:left; padding-left:10px; height:15px; padding-top:10px; }
.othckx{ float:left; padding-left:10px; height:15px; padding-top:10px; }
.off{ float:left; padding-left:10px; height:15px; padding-top:5px; }
.select_style {width:190px; height:30px; overflow:hidden; background:url(../images/sel_arr.png) no-repeat 170px;
border:1px solid #ccc;
-moz-border-radius: 5px; /* Gecko browsers */
-webkit-border-radius: 5px; /* Webkit browsers */
border-radius:5px;
}
.cur{ display:block; color:#4da3de; width:187px; height:30px; padding:0px 0px 0px 2px; line-height:32px; text-indent:8px; cursor:pointer; font-size:12px; }
.cur:hover{ color:#f48843}

/*---------查询条件--------*/
.searchbar{ padding-left:5px; margin-top:10px; color:#9c9c9c;  }
.searchbar-text{ width:250px; height:27px; border:1px solid #dcdcdc; color:#4da3de; text-indent:5px; line-height:27px; }

/*---------表格--------*/
.buttonbar{ float:left; padding:5px;}
.buttonbar .btn-oag{ width:61px; height:29px; background:url(../images/btn_white.png) no-repeat; color:#798f9f; cursor:pointer; font-size:12px; }
.buttonbar .btn-oag:hover{ background:url(../images/btn_blue.png) no-repeat; color:#fff; }
.table{ float:left; width:100%; border:1px solid #dcdcdc; color:#807f7f; font-size:12px; background:#fff; }
.table tr:hover{ background:#fdfaf4;}
.table .colortr{ background:#f8fbff; }
.table th{ border-bottom:1px solid #dcdcdc; padding:10px 0; background:#f3f3f3; font-size:12px; font-weight:100; }
.table td{ border-bottom:1px solid #dcdcdc; padding:10px 0; text-align:center; }
.table th.left{ text-align:left; }
.table td.left{ text-align:left; }
.table .check{ width:40px; text-align:center; }
.table td a{ color:#4da3de; }
.table td a:hover{ text-decoration:underline; }
.btn-editor{ width:20px; height:20px; border:0; margin-left:10px; background:url(../images/oag_editor.png) no-repeat; cursor:pointer; }
.btn-revoke{ width:20px; height:20px; border:0; margin-left:10px; background:url(../images/oag_revoke.png) no-repeat; cursor:pointer; }
.btn-add2{ width:20px; height:20px; border:0; margin-left:10px; background:url(../images/oag_add.png) no-repeat; cursor:pointer; }
.number{ float:right; width:800px; color:#798f9f; font-size:12px; text-align:right; margin-right:5px;}
.number .btn-num{ width:38px; height:25px; line-height:25px; margin-right:5px; background:#eff2f5; color:#798f9f; cursor:pointer; font-size:12px; border:1px solid #eff2f5; font-family:Microsoft Yahei, SimSun; }
.number .btn-num:hover{ background:#4da3de; border:1px solid #4da3de;  color:#fff; }
.number .text-num{ width:42px; height:23px; border:1px solid #c7daee; background:#fff; line-height:23px; text-align:center; }
.number .red{ color:#ea7226}
.show{ float:right; width:40px; line-height:23px; background:url(../images/sel_arr2.jpg) 80% center no-repeat; border:1px solid #c7daee; overflow:hidden; }
.show .showsel{ width:80px; height:23px; border:0; background:none; color:#798f9f; }
.num{ float:right; padding-left:8px; }
.asc{ width:12px; height:12px; line-height:12px; padding-left:10px; background:url(../images/asc.png) no-repeat; cursor:pointer;}
.desc{ width:12px; height:12px; line-height:12px; padding-left:10px; background:url(../images/desc.png) no-repeat; cursor:pointer;}
/*---------单选和多选--------*/
.checkbox{ float:left; width:100%; line-height:15px; font-size:12px;  margin-bottom:20px;}
.checkbox li{ float:left; padding-right:20px; }
.checkbox img{ width:15px; height:15px; padding-right:5px; vertical-align:middle;}

.mar{ margin-right:4px;}

.main2{ padding:20px 50px 0 50px;}
.main2 .m-nav2{ width:100%; border-bottom:1px solid #ddddd9; font-size:16px;  line-height:40px;}

/*---------搜索--------*/
.search{ width:396px; background:#fff; padding-left:15px; }
.search .sea-text{ float:left; width:350px; height:37px; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; border-left:1px solid #dcdcdc; border-right:0; background:url(../images/search_bg.jpg) 2% center no-repeat #fff; line-height:35px; text-indent:30px; color:#ccc; }
.search .sea-btn{ float:left; width:45px; height:39px; border:1px solid #4da3de; background:#4da3de; color:#fff; line-height:35px; }
.search .sea-btn:hover{ border:1px solid #6bc3ff; background:#6bc3ff; }

/*---------其它--------*/
.btn-pvs{ width:35px; height:32px; background:url(../images/btn_pvs.jpg) no-repeat; cursor:pointer; }
.btn-next{ width:35px; height:32px; background:url(../images/btn_next.jpg) no-repeat; cursor:pointer; }
.btn-minus{ width:35px; height:32px; background:url(../images/btn_minus.jpg) no-repeat; cursor:pointer; }
.btn-add{ width:35px; height:32px; background:url(../images/btn_add.jpg) no-repeat; cursor:pointer; }

/*---------等待--------*/
.showWaiting-mask { background: gray; filter: alpha(opacity=50); opacity: 0.5; display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; display:none; }
.showWaiting-mask-msg { color:blue; background: #fff; position: absolute; top: 50%; margin-top: -20px; padding: 10px 10px 10px 10px; width: auto; height: 16px; border-width: 1px; border-style: solid; display: none;z-index: 101; }

/*---------提示信息--------*/
.message{ width:300px; background:#edf3ff; position: absolute; border:1px solid #95b9e7; margin:0 auto; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0 5px 5px 5px; font-size:12px; font-family:Microsoft Yahei,SimSun; z-index: 101; }
.message-til{ width:100%; line-height:28px; }
.message-close{ width:16px; height:16px; background:url(../images/message_close.png) no-repeat; border:0; float:right; margin-top:6px; cursor:pointer; }
.message-con{ padding:10px; line-height:16px; border:1px solid #95b9e7; background:#fff; }
.message-con img{ float:left; padding:0 10px 0 0; }
.message-button{ width:72px; height:26px; border:0; background:url(../images/message_button.jpg) no-repeat; font-family:Microsoft Yahei,SimSun; color:#000; margin-top:8px; }
.message-button:hover{ background:url(../images/message_button_xg.jpg) no-repeat; cursor:pointer; }
.message-center{ text-align:center; }
.message-info{ width:22px; height:32px; border:0; background:url(../images/message_icons.png) 0 0 no-repeat; }
.message-question{ width:22px; height:32px; border:0; background:url(../images/message_icons.png) -32px 0 no-repeat; }
.message-error{ width:22px; height:32px; border:0; background:url(../images/message_icons.png) -64px 0 no-repeat; }
.message-warning{ width:22px; height:32px; border:0; background:url(../images/message_icons.png) -96px 0 no-repeat; }
.message-mask { background:gray; filter: alpha(opacity=50); opacity: 0.5; display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; display:none; }

